<div class="timetable-container">
  <div class="timetable-header">
    <div class="empty-column"></div>
    <div *ngFor="let day of days" class="day-column">
      {{ day }}
    </div>
  </div>

  <div class="teacher-name-row" *ngFor="let teacher of teachers; let i = index">
    <div 
      class="time-slot"
      pDraggable
      (onDragStart)="onDragStart(teacher, i)"
      (onDragEnd)="onDragEnd()"
    >
      {{ teacher }}
    </div>
    
    <div *ngFor="let day of days; let j = index" 
      class="slot"
      pDroppable
      (onDrop)="onDrop($event, day, i)"
      [ngClass]="{'slot-over': draggedTeacher === teacher && draggedRowIndex === i && !timetable[day]?.[i]}"
    >
      <div class="slot-content">{{ timetable[day]?.[i] || '' }}</div>
    </div>
  </div>
</div>
